extends layout.pug

block content
    h2 Check In
    div.container-fluid
        form(id='findUser' action='/' method='POST')
            div.col-sm-5
                div.form-group
                    label(for='userid') User &#35;: 
                    input#userid.form-control(type='text' name='userid' placeholder='School ID, NCDL, etc.' value='', required='true')
                div.form-group
                    button#form-submit.btn.btn-primary(type='submit' onclick='$("#form-submit").on("click", function(btn) { btn.disabled = true; }') Find

    if errors 
        ul
          for error in errors
            li!= error.msg

    if person
        p Hi #{person.FirstName} #{person.LastName}!